<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pokedex</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<!-- Contenido principal -->
<ion-content id="main-content">
  <div class="card-container">
    <!-- Tarjeta 1 -->
    <ion-card class="custom-card">
      <img src="../../assets/Images/kanto.webp" alt="Pokedex Kanto">
      <ion-card-header>
        <ion-card-title>Pokedex Kanto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aqui podras consultar por todos los pokemones y sus caracteristicas dentro de la region de Kanto.
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta 2 -->
    <ion-card class="custom-card">
      <img src="../../assets/Images/johto.jpeg" alt="Pokedex Johto">
      <ion-card-header>
        <ion-card-title>Pokedex Johto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aqui podras consultar por todos los pokemones y sus caracteristicas dentro de la region de Johto.
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta 3 -->
    <ion-card class="custom-card">
      <img src="../../assets/Images/hoenn.png" alt="Pokedex Hoenn">
      <ion-card-header>
        <ion-card-title>Pokedex Hoenn</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aqui podras consultar por todos los pokemones y sus caracteristicas dentro de la region de Hoenn.
      </ion-card-content>
    </ion-card>

    <!-- Tarjeta 4 -->
    <ion-card class="custom-card">
      <img src="../../assets/Images/sinnoh.png" alt="Pokedex Sinnoh">
      <ion-card-header>
        <ion-card-title>Pokedex Sinnoh</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Aqui podras consultar por todos los pokemones y sus caracteristicas dentro de la region de Sinnoh.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
